div.tempo-page section.tempo-content-layout.layout-left div.tempo-section-content,
div.tempo-page section.tempo-content-layout.layout-right div.tempo-section-content {
  border-left: none;
  border-right: none;
  padding-left: 0px;
  padding-right: 0px;
}
div.tempo-website-wrapper aside.sidebar-content-wrapper {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  width: 30.8125%;
}
div.tempo-website-wrapper aside.sidebar-content-wrapper.layout-right {
  float: right;
  padding-left: 3.75%;
}
div.tempo-website-wrapper aside.sidebar-content-wrapper.layout-left {
  float: left;
  padding-right: 3.75%;
}
p.tempo-template-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  line-height: 37px;
  max-width: 670px;
  margin: 0px auto 30px auto;
}
hr.sarmys-header-delimiter {
  background-color: #96cf4d;
  height: 3px;
  margin-bottom: 40px;
  max-width: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
span.counter-wrapper {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
div.tempo-page.template-404 {
  overflow: hidden;
  position: relative;
}
div.tempo-page.template-404 div.sarmys-404-wrapper h1.tempo-title {
  color: #ffffff;
  text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
}
div.tempo-page.template-404 div.sarmys-404-wrapper big.tempo-message {
  color: #ffffff;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}
div.tempo-page.template-404 div.sarmys-404-wrapper p.tempo-description {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
div.tempo-page.template-404 div.tempo-search-form {
  background: #ffffff;
  border: 1px solid #e6e6f0;
  max-width: 480px;
  padding: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
div.tempo-page.template-404 div.tempo-search-form fieldset {
  margin: 0px;
}
div.tempo-page.template-404 div.tempo-search-form input[type='text'],
div.tempo-page.template-404 div.tempo-search-form input[type='search'] {
  padding: 19px 25px;
  border: none;
}
div.tempo-page.template-404 div.tempo-search-form input[type='text']:focus,
div.tempo-page.template-404 div.tempo-search-form input[type='search']:focus,
div.tempo-page.template-404 div.tempo-search-form input[type='text']:active,
div.tempo-page.template-404 div.tempo-search-form input[type='search']:active {
  border: none;
}
div.tempo-page.template-404 div.tempo-search-form button {
  padding: 19px;
  font-size: 18px;
}
div.tempo-page.template-404 div.tempo-search-form button i {
  display: block;
  width: 24px;
  height: 24px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form {
  background: #ffffff;
  border: 1px solid #e6e6f0;
  max-width: 670px;
  margin: 60px auto;
  padding: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form fieldset {
  margin: 0px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form input[type='text'],
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form input[type='search'] {
  padding: 19px 25px;
  border: none;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form input[type='text']:focus,
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form input[type='search']:focus,
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form input[type='text']:active,
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form input[type='search']:active {
  border: none;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form button {
  padding: 19px;
  font-size: 18px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form button i {
  display: block;
  width: 24px;
  height: 24px;
}
header.tempo-header div.tempo-header-partial.tempo-portfolio.wp-templates div.tempo-search-form input[type="text"],
.tempo-section.tempo-404 div.tempo-hentry div.tempo-search-form form.tempo-search-form input[type="text"] {
  float: left;
  width: -webkit-calc( 100% - 65px );
  width: -moz-calc( 100% - 65px );
  width: -ms-calc( 100% - 65px );
  width: -o-calc( 100% - 65px );
  width: calc( 100% - 65px );
}
body.page.tempo-has-header .hentry div.sarmys-content,
body.single.tempo-has-header .hentry div.sarmys-content {
  margin-top: -240px;
}
@media (max-width: 1199px) {
  body.page.tempo-has-header .hentry div.sarmys-content,
  body.single.tempo-has-header .hentry div.sarmys-content {
    margin-top: -200px;
  }
}
@media (max-width: 991px) {
  body.page.tempo-has-header .hentry div.sarmys-content,
  body.single.tempo-has-header .hentry div.sarmys-content {
    margin-top: -160px;
  }
}
@media (max-width: 767px) {
  body.page.tempo-has-header .hentry div.sarmys-content,
  body.single.tempo-has-header .hentry div.sarmys-content {
    margin-top: -120px;
  }
}
@media (max-width: 520px) {
  body.page.tempo-has-header .hentry div.sarmys-content,
  body.single.tempo-has-header .hentry div.sarmys-content {
    margin-top: -80px;
  }
}
div.page.hentry {
  background-color: #ffffff;
  border: none;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
}
ul.sarmys-archive {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.sarmys-archive li {
  font-weight: bold;
  font-size: 17px;
  line-height: 37px;
  color: #ffffff;
  display: inline-block;
}
ul.sarmys-archive li a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
}
ul.sarmys-archive li a:hover {
  color: #ffffff;
}
ul.sarmys-archive li:before {
  color: rgba(255, 255, 255, 0.5);
  content: '\e867';
  font-size: 13px;
  margin: 0px 10px;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
}
ul.sarmys-archive li:first-child:before {
  content: none;
}
div.sarmys-content {
  padding: 7.177033492822966%;
  position: relative;
  z-index: 1;
}
div.sarmys-content div.sarmys-right-align {
  float: right;
  width: 78%;
}
@media (max-width: 970px) {
  div.sarmys-content div.sarmys-right-align {
    width: 100%;
  }
}
div.tempo-thumbnail-wrapper + div.sarmys-content {
  margin-top: -7.17703349%;
}
div.sarmys-wp-template-head-wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  margin-top: 60px;
  text-align: center;
}
div.sarmys-wp-template-author {
  display: inline-block;
  overflow: hidden;
}
div.sarmys-wp-template-author,
div.sarmys-wp-template-author img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
article.tempo-article h2.tempo-title a {
  font-weight: bold;
}
article.tempo-article h2.tempo-title a:hover {
  color: #000000;
}
article.tempo-article.classic {
  background-color: #ffffff;
  border: none;
  position: relative;
  margin-top: 7.648183556405354%;
  padding: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
}
article.tempo-article.classic:first-child {
  margin-top: 0px;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper {
  margin: 0px;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper,
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper {
  max-height: 590px;
  overflow: hidden;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper,
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper,
article.tempo-article.classic div.tempo-thumbnail-wrapper a,
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper a,
article.tempo-article.classic div.tempo-thumbnail-wrapper img,
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper img,
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-image-wrapper img {
  min-width: 100%;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper div.tempo-caption-wrapper {
  display: none;
}
article.tempo-article.classic span.sarmys-jp-views {
  color: #6a6f77;
  display: inline-block;
  float: right;
  font-size: 16px;
  line-height: 22px;
  padding: 11px 0px;
  margin-top: 4%;
}
article.tempo-article.classic span.sarmys-jp-views i {
  margin-right: 8px;
}
article.tempo-article.classic h2.tempo-title {
  margin: 50px 0px 40px 0px;
  letter-spacing: -0.25px;
  width: 90%;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
}
article.tempo-article.classic h2.tempo-title a {
  color: #2d2f34;
  font-weight: 400;
  padding: 0px;
}
article.tempo-article.classic h2.tempo-title a:hover {
  color: #000000;
}
@media (max-width: 1680px) {
  article.tempo-article.classic h2.tempo-title {
    width: 100%;
    margin: 40px 0 30px;
    font-size: 32px;
    line-height: 48px;
  }
}
@media (max-width: 970px) {
  article.tempo-article.classic h2.tempo-title {
    margin: 30px 0 20px;
    font-size: 30px;
    line-height: 46px;
  }
}
@media (max-width: 970px) {
  article.tempo-article.classic h2.tempo-title {
    margin: 25px 0 20px;
    font-size: 26px;
    line-height: 38px;
  }
}
article.tempo-article.classic:first-child div.tempo-categories {
  margin-top: -5px;
}
article.tempo-article.classic:first-child div.tempo-thumbnail-wrapper + div.sarmys-content div.tempo-categories {
  margin-top: -27px;
}
article.tempo-article.classic:first-child div.tempo-categories + h2.tempo-title {
  margin-top: 50px;
}
article.tempo-article.classic div.tempo-categories {
  margin-left: -5px;
  margin-top: -5px;
}
article.tempo-article.classic div.tempo-categories a {
  background-color: #96cf4d;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 13px 30px;
  margin: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
article.tempo-article.classic div.tempo-categories a:hover {
  background-color: #85b844;
  color: #ffffff;
}
article.tempo-article.classic div.tempo-categories span {
  display: none;
}
article.tempo-article.classic div.tempo-thumbnail-wrapper + div.sarmys-content div.tempo-categories {
  margin-top: -27px;
}
article.tempo-article.classic div.tempo-meta.top.article {
  position: absolute;
  margin-top: 40px;
  margin-left: 3.588516745%;
  margin-right: 3.588516745%;
  width: 18.8421052644%;
  left: 0px;
  color: #cdcdcd;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 970px) {
  article.tempo-article.classic div.tempo-meta.top.article {
    display: none;
  }
}
article.tempo-article.classic div.tempo-meta.top.article a {
  color: #788774;
  font-size: 13px;
  font-weight: 400;
}
article.tempo-article.classic div.tempo-meta.top.article a:hover {
  color: #3e4438;
}
article.tempo-article.classic div.tempo-meta.top.article a.author {
  display: block;
  margin-bottom: 25px;
}
article.tempo-article.classic div.tempo-meta.top.article a.author img {
  max-width: 90px;
  width: 100%;
  margin: 0px;
}
article.tempo-article.classic div.tempo-meta.top.article span.date {
  display: block;
  margin-bottom: 15px;
}
article.tempo-article.classic div.tempo-meta.top.article span.date,
article.tempo-article.classic div.tempo-meta.top.article span.date a {
  color: #abb0b7;
  font-size: 17px;
}
article.tempo-article.classic div.tempo-meta.top.article span.date:hover,
article.tempo-article.classic div.tempo-meta.top.article span.date a:hover {
  color: #51555b;
}
article.tempo-article.classic div.tempo-meta.top.article span.comments,
article.tempo-article.classic div.tempo-meta.top.article span.comments a {
  color: #d4d8df;
  font-size: 14px;
  font-weight: 400;
}
article.tempo-article.classic div.tempo-meta.top.article span.comments:hover,
article.tempo-article.classic div.tempo-meta.top.article span.comments a:hover {
  color: #51555b;
}
article.tempo-article.classic a.more-link {
  background-color: #f5f5f5;
  border: none;
  color: #373c41;
  font-size: 11px;
  font-weight: 400;
  padding: 11px 26px;
  margin-top: 4%;
  min-width: 70px;
  float: left;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
article.tempo-article.classic a.more-link:hover {
  color: #ffffff;
  background: #373c41;
}
article.tempo-article.classic div.tempo-categories + div.tempo-meta.top.article {
  margin-top: 40px;
}
article.tempo-article.classic div.tempo-meta.top.article {
  margin-top: 86px;
}
article.tempo-article.classic div.tempo-categories + div.tempo-meta.top.article + h2.tempo-title {
  margin-top: 40px;
}
article.tempo-article.classic div.tempo-meta.top.article + h2.tempo-title {
  margin-top: 65px;
}
article.tempo-article.classic h2.tempo-title {
  margin-top: 65px;
}
.tempo-hentry .mejs-container,
.tempo-hentry .mejs-embed,
.tempo-hentry .mejs-embed body,
.tempo-hentry .mejs-container .mejs-controls {
  background-color: #fd907a;
}
.tempo-hentry .mejs-container,
.tempo-hentry .mejs-container .mejs-mediaelement,
.tempo-hentry .mejs-container .mejs-controls {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.tempo-hentry .mejs-container a,
.tempo-hentry .mejs-container a:hover {
  border: none;
}
.tempo-hentry .mejs-controls .mejs-time-rail .mejs-time-current {
  background-color: #96cf4d;
}
.tempo-paged-post {
  color: #8a99a7;
  display: block;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px 0px;
  border-top: 1px solid #eff0f6;
}
.tempo-paged-post span {
  background-color: #fd907a;
  color: #ffffff;
  padding: 10px 25px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.tempo-paged-post span.tempo-pagination-title {
  background-color: transparent;
  color: #8a99a7;
}
.tempo-paged-post a span {
  background-color: #f6f8fc;
  color: #8a99a7;
}
.tempo-paged-post a:hover span {
  background-color: #373c41;
  color: #ffffff;
}
article[class*="tag-"] .tempo-paged-post,
article[class^="tag-"] .tempo-paged-post {
  border-bottom: 1px solid #eff0f6;
}
div.page.type-page .tempo-paged-post {
  padding-bottom: 0px;
}
.pagination-wrapper {
  border: none;
  padding-top: 120px;
}
@media ( max-width: 1199px ) {
  .pagination-wrapper {
    padding-top: 100px;
  }
}
@media ( max-width: 991px ) {
  .pagination-wrapper {
    padding-top: 80px;
  }
}
@media ( max-width: 767px ) {
  .pagination-wrapper {
    padding-top: 60px;
  }
}
@media ( max-width: 480px ) {
  .pagination-wrapper {
    padding-top: 40px;
  }
}
.pagination-wrapper span,
.pagination-wrapper a {
  border: none;
  font-weight: 400;
  font-size: 12px;
  padding: 11px 20px;
  margin: 0px 4px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
}
.pagination-wrapper span {
  background-color: #373c41;
  color: #ffffff;
}
.pagination-wrapper span.page-numbers.dots {
  background-color: transparent;
  color: #8a99a7;
}
.pagination-wrapper a {
  background-color: #ffffff;
  color: #373c41;
}
.pagination-wrapper a:hover {
  background-color: #fd907a;
  color: #ffffff;
}
.pagination-wrapper nav {
  margin: 0px;
}
.tempo-shortcode.posts.grid .pagination-wrapper,
.tempo-shortcode.posts.portfolio .pagination-wrapper {
  padding-top: 105px;
}
@media ( max-width: 1199px ) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 85px;
  }
}
@media ( max-width: 991px ) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 65px;
  }
}
@media ( max-width: 767px ) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 45px;
  }
}
@media ( max-width: 480px ) {
  .tempo-shortcode.posts.grid .pagination-wrapper,
  .tempo-shortcode.posts.portfolio .pagination-wrapper {
    padding-top: 25px;
  }
}
.tempo-shortcode.posts.grid .pagination-wrapper span,
.tempo-shortcode.posts.portfolio .pagination-wrapper span,
.tempo-shortcode.posts.grid .pagination-wrapper a,
.tempo-shortcode.posts.portfolio .pagination-wrapper a {
  border: none;
}
.tempo-shortcode.posts.grid .pagination-wrapper span,
.tempo-shortcode.posts.portfolio .pagination-wrapper span {
  background-color: #373c41;
  border-color: #373c41;
  color: #ffffff;
}
.tempo-shortcode.posts.grid .pagination-wrapper span.page-numbers.dots,
.tempo-shortcode.posts.portfolio .pagination-wrapper span.page-numbers.dots {
  background-color: transparent;
  border-color: transparent;
  color: #8a99a7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.tempo-shortcode.posts.grid .pagination-wrapper a,
.tempo-shortcode.posts.portfolio .pagination-wrapper a {
  background-color: #ffffff;
}
.tempo-shortcode.posts.grid .pagination-wrapper a:hover,
.tempo-shortcode.posts.portfolio .pagination-wrapper a:hover {
  background-color: #fd907a;
  border-color: transparent;
}
article.tempo-article.portfolio div.tempo-content h3.tempo-title:before {
  height: 1px;
}
article.tempo-article.portfolio div.tempo-categories a {
  display: none;
  background-color: #96cf4d;
  font-weight: 400;
  padding: 10px 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  opacity: 1;
  filter: alpha(opacity=100);
}
article.tempo-article.portfolio div.tempo-categories a:hover {
  background-color: #85b844;
}
article.tempo-article.portfolio div.tempo-categories a:first-child {
  display: inline-block;
}
article.tempo-article.grid div.tempo-content {
  position: relative;
  border: none;
}
article.tempo-article.grid div.tempo-content h3.tempo-title:before {
  height: 1px;
}
article.tempo-article.grid div.tempo-categories a {
  background-color: #96cf4d;
  display: none;
  font-weight: 400;
  padding: 10px 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  opacity: 1;
  filter: alpha(opacity=100);
}
article.tempo-article.grid div.tempo-categories a:hover {
  background-color: #85b844;
}
article.tempo-article.grid div.tempo-categories a:first-child {
  display: inline-block;
}
article.tempo-article.grid div.tempo-thumbnail-wrapper + div.tempo-content {
  margin-top: -50px;
}
@media ( min-width: 1200px ) {
  div.tempo-grid-wrapper.col-lg-4 div.tempo-thumbnail-wrapper + div.tempo-content {
    margin-top: -39px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  div.tempo-grid-wrapper.col-lg-4 div.tempo-thumbnail-wrapper + div.tempo-content {
    margin-top: -39px;
  }
}
body.page.tempo-has-header .tempo-shortcode.posts.classic .hentry div.sarmys-content,
body.single.page.tempo-has-header .hentry div.sarmys-content {
  margin-top: -7.17703349%;
}
