div.tempo-comments-wrapper {
  display: block;
  margin-top: 40px;
}
div.tempo-comments-wrapper p.must-log-in,
div.tempo-comments-wrapper div.sarmys-no-comments {
  margin-bottom: 40px;
  margin-top: 0px;
  padding: 30px 40px;
  border-radius: 3px;
  background: #fff;
  color: #35393f;
  font-size: 14px;
  line-height: 19px;
}
div.tempo-comments-wrapper p.must-log-in i,
div.tempo-comments-wrapper div.sarmys-no-comments i {
  margin-right: 15px;
}
div.tempo-comments-wrapper div.sarmys-no-comments + div.tempo-comments p.must-log-in {
  margin-top: -20px;
}
div.tempo-comments-wrapper h3.tempo-comments-title {
  display: none;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment {
  border: 0px;
  display: block;
  margin-top: 40px;
  padding: 0px;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment:first-child {
  margin-top: 0px;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment:after {
  display: table;
  content: " ";
  clear: both;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment div.comment-box {
  padding: 6.016916488222699%;
  width: 89.47368421%;
  margin-left: 10.52631579%;
  border-radius: 3px;
  background: #ffffff;
}
@media (max-width: 520px) {
  div.tempo-comments-wrapper ol.tempo-comments-list li.comment div.comment-box {
    width: 100%;
    margin-left: 0px;
  }
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header img {
  width: 7.76979345% !important;
  height: auto !important;
  margin: 0 0 0 -18.45113646%;
}
@media (max-width: 520px) {
  div.tempo-comments-wrapper ol.tempo-comments-list li.comment header img {
    width: 30px !important;
    margin: 0px 15px 0px 0px;
  }
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta cite {
  font-size: 21px;
  letter-spacing: -0.25px;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta cite,
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta cite a {
  color: #0b0b0b;
  font-weight: normal;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta cite,
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta cite a,
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta cite:hover,
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta cite a:hover {
  border: none;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta cite span.tempo-author-tag {
  background-color: #fd907a;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta time {
  color: #cccfd8;
  margin-left: 0px;
  margin-top: 10px;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta span.comment-replay a {
  background-color: #f5f5f5;
  color: #373c41;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  padding: 12px 30px;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta span.comment-replay a:hover {
  background-color: #373c41;
  color: #ffffff;
}
@media (max-width: 520px) {
  div.tempo-comments-wrapper ol.tempo-comments-list li.comment header span.tempo-comment-meta span.comment-replay {
    float: none;
    margin-bottom: 35px;
  }
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment div.comment-quote {
  margin-top: 40px;
  padding: 0px;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment div.comment-quote,
div.tempo-comments-wrapper ol.tempo-comments-list li.comment div.comment-quote p {
  color: #63686d;
  font-size: 15px;
  line-height: 32px;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment ul.children {
  margin-top: 40px;
  padding: 0 0 0 10.52631579%;
}
div.tempo-comments-wrapper ol.tempo-comments-list li.comment ul.children li.comment {
  border: 0px;
  padding: 0px;
}
@media (max-width: 520px) {
  div.tempo-comments-wrapper ol.tempo-comments-list li.comment ul.children {
    padding: 0px;
  }
}
div.tempo-comments-wrapper div.comment-respond {
  margin-top: 60px;
}
div.tempo-comments-wrapper div.comment-respond h3.comment-reply-title {
  margin: 30px 0;
}
div.tempo-comments-wrapper div.comment-respond h3.comment-reply-title small a {
  background-color: #E3E7EA;
  color: #373c41;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.25px;
  padding: 15px 30px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
div.tempo-comments-wrapper div.comment-respond h3.comment-reply-title small a:hover {
  background-color: #111213;
  color: #ffffff;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form div.textarea p.comment-form-comment textarea {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #e6e6f0;
  color: #535a63;
  font-size: 15px;
  font-weight: normal;
  line-height: 28px;
  padding: 35px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
}
div.tempo-comments-wrapper div.comment-respond form.comment-form div.textarea p.comment-form-comment textarea:focus,
div.tempo-comments-wrapper div.comment-respond form.comment-form div.textarea p.comment-form-comment textarea:active,
div.tempo-comments-wrapper div.comment-respond form.comment-form div.textarea p.comment-form-comment textarea.focus,
div.tempo-comments-wrapper div.comment-respond form.comment-form div.textarea p.comment-form-comment textarea.active {
  background: #ffffff;
  border: 1px solid #e6e6f0;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form div.field {
  margin-bottom: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05);
}
@media (max-width: 520px) {
  div.tempo-comments-wrapper div.comment-respond form.comment-form div.field {
    margin-bottom: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input {
  color: #454545;
  width: 33.33333333%;
  margin-right: 0px;
  margin-bottom: 0px;
}
@media (max-width: 520px) {
  div.tempo-comments-wrapper div.comment-respond form.comment-form p.input {
    width: 100%;
    margin-bottom: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);
    -ms-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);
    -o-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.03);
  }
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #e6e6f0;
  color: #454545;
  height: 72px;
  font-size: 14px;
  font-weight: normal;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input:focus,
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input:active,
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input.focus,
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input.active {
  background: #ffffff;
  border: 1px solid #e6e6f0;
  color: #111213;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input#author {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input#email {
  border-left: 0px;
  border-right: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input#url {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input::-webkit-input-placeholder,
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input::-moz-placeholder,
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input:-moz-placeholder,
div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input:-ms-input-placeholder {
  color: #454545;
}
@media (max-width: 520px) {
  div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input {
    width: 100%;
  }
  div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input#author,
  div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input#email,
  div.tempo-comments-wrapper div.comment-respond form.comment-form p.input input#url {
    border: 1px solid #e6e6f0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
  }
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.form-submit input[type="submit"] {
  background-color: #373c41;
  border: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  padding: 20px 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.form-submit input[type="submit"]:hover {
  background-color: #111213;
  border: none;
  color: #ffffff;
}
div.tempo-comments-wrapper div.comment-respond form.comment-form p.form-submit input[type="submit"]:focus,
div.tempo-comments-wrapper div.comment-respond form.comment-form p.form-submit input[type="submit"]:active,
div.tempo-comments-wrapper div.comment-respond form.comment-form p.form-submit input[type="submit"].focus,
div.tempo-comments-wrapper div.comment-respond form.comment-form p.form-submit input[type="submit"].active {
  background-color: #111213;
  border: none;
  color: #ffffff;
}
div.tempo-comments-wrapper li div.comment-respond {
  padding-left: 10.52631579%;
}
div.tempo-comments-wrapper li div.comment-respond form.comment-form div.textarea p.comment-form-comment textarea {
  background-color: #ffffff;
}
@media (max-width: 520px) {
  div.tempo-comments-wrapper li div.comment-respond {
    padding-left: 0px;
  }
}
div.comments-list-collapse {
  display: none;
}
div.tempo-hentry + div.tempo-comments-wrapper {
  border-top: none;
  margin-top: 0px;
}
