@-webkit-keyframes sarmys-float-menu-in {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20px;
  }
}
@-moz-keyframes sarmys-float-menu-in {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20px;
  }
}
@-o-keyframes sarmys-float-menu-in {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20px;
  }
}
@keyframes sarmys-float-menu-in {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 20px;
  }
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form button[type="submit"] {
  padding: 9px;
}
body div.nav-collapse.tempo-navigation-wrapper.collapse-in div.tempo-navigation-shadow {
  z-index: 450;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation {
  background-color: #f3f5f8;
  padding: 30px;
  width: 350px;
  z-index: 452;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li {
  margin: 8px 0px;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li a {
  color: #8a99a7;
  font-weight: 300;
  padding: 12px 25px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li a:hover {
  background-color: #ffffff;
  color: #373c41;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation ul li.current-menu-item > a {
  background-color: #fd907a;
  color: #ffffff;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form {
  background-color: #ffffff;
  border: none;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form fieldset {
  background-color: transparent;
  padding: 8px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form input[type="text"] {
  color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-indent: 6px;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form input[type="text"]:focus,
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form input[type="text"]:active,
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form input[type="text"]:focus:active {
  color: #ffffff;
}
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form button i,
body div.nav-collapse.tempo-navigation-wrapper nav.tempo-navigation form.tempo-search-form button i:before {
  display: block;
  line-height: 22px;
}
header.tempo-header nav ul li a {
  color: #8a99a7;
}
header.tempo-header nav ul li a:hover {
  color: #373c41;
}
header.tempo-header nav ul li.current-menu-ancestor > a,
header.tempo-header nav ul li.current-menu-item > a,
header.tempo-header nav ul li:hover > a {
  color: #373c41;
}
header.tempo-header nav button.tempo-btn-collapse {
  color: #8a99a7;
}
header.tempo-header nav button.tempo-btn-collapse:hover {
  color: #373c41;
}
header.tempo-header div.tempo-topper {
  background-color: transparent;
  padding: 0px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper {
  background: #ffffff;
  display: block;
  float: none;
  padding: 20px 0px;
  margin: 0px;
  text-align: center;
  width: 100%;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-content button.tempo-btn-collapse {
  margin-top: 38px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media ( min-width: 1025px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-content button.tempo-btn-collapse {
    display: none;
  }
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-content button.tempo-btn-collapse {
    display: block;
  }
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper {
  margin: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media ( min-width: 1025px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media ( max-width: 1024px ) {
  header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper {
    display: none;
  }
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list {
  text-align: center;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li {
  font-size: 13px;
  font-weight: normal;
  padding: 0px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li.current-menu-ancestor > a,
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li.current-menu-item > a {
  background-color: #fd907a;
  border: 2px solid #fd907a;
  color: #ffffff;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li a {
  padding: 8px 23px;
  font-weight: 300;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li > ul {
  margin-top: 20px;
  margin-left: 0px;
  -webkit-animation: sarmys-float-menu-in 0.2s ease-out 1;
  -moz-animation: sarmys-float-menu-in 0.2s ease-out 1;
  -ms-animation: sarmys-float-menu-in 0.2s ease-out 1;
  -o-animation: sarmys-float-menu-in 0.2s ease-out 1;
  animation: sarmys-float-menu-in 0.2s ease-out 1;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li > ul > li:first-child {
  padding-left: 23px;
  margin-left: -23px;
  padding-top: 25px;
  margin-top: -25px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li ul {
  border-top: 2px solid #fd907a;
  padding-left: 23px;
  padding-right: 23px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li ul li > ul {
  margin-left: 218px;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li ul li {
  padding: 0px 25px 0px 0px;
  margin-right: -25px;
  font-size: 13px;
  font-weight: normal;
}
header.tempo-header div.tempo-topper div.tempo-navigation-wrapper div.tempo-menu-wrapper ul.tempo-menu-list > li ul li a {
  padding-left: 0px;
  padding-right: 0px;
}
