.tempo-video-thumbnail,
.tempo-vimeo-thumbnail,
.tempo-youtube-thumbnail {
  position: relative;
}
.tempo-video-thumbnail div.embed-vimeo,
.tempo-vimeo-thumbnail div.embed-vimeo,
.tempo-youtube-thumbnail div.embed-vimeo,
.tempo-video-thumbnail span.embed-youtube,
.tempo-vimeo-thumbnail span.embed-youtube,
.tempo-youtube-thumbnail span.embed-youtube,
.tempo-video-thumbnail iframe,
.tempo-vimeo-thumbnail iframe,
.tempo-youtube-thumbnail iframe,
.tempo-video-thumbnail video.tempo-video-embed,
.tempo-vimeo-thumbnail video.tempo-video-embed,
.tempo-youtube-thumbnail video.tempo-video-embed {
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
header .tempo-youtube-thumbnail {
  margin: 0px auto;
  width: 100%;
  z-index: 0;
}
header .tempo-youtube-background {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
}
header .tempo-youtube-background iframe {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
header .tempo-youtube-background .tempo-video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
header .tempo-youtube-background.fixed .video-container {
  position: fixed;
}
header .tempo-youtube-background #tempo-youtube-player {
  position: absolute;
}
header .tempo-youtube-background .shield {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}
div.tempo-website-wrapper {
  background-color: #f3f5f8;
  max-width: 100%;
}
div.tempo-website-wrapper div:not(.tempo-topper) div.tempo-container,
div.tempo-website-wrapper aside div.tempo-container {
  max-width: 1630px;
  width: 92.5%;
}
@media ( min-width: 992px ) and ( max-width: 1199px ) {
  div.tempo-website-wrapper div:not(.tempo-topper) div.tempo-container,
  div.tempo-website-wrapper aside div.tempo-container {
    width: 92.5%;
  }
}
@media ( min-width: 768px ) and ( max-width: 991px ) {
  div.tempo-website-wrapper div:not(.tempo-topper) div.tempo-container,
  div.tempo-website-wrapper aside div.tempo-container {
    width: 92.5%;
  }
}
@media ( max-width: 767px ) {
  div.tempo-website-wrapper div:not(.tempo-topper) div.tempo-container,
  div.tempo-website-wrapper aside div.tempo-container {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
div.tempo-website-wrapper div#tempo-page.tempo-page {
  background-color: transparent;
  padding: 120px 0px;
  position: relative;
}
div.tempo-website-wrapper div#tempo-page.tempo-page:before {
  content: '';
  position: absolute;
  height: 120px;
  width: 100%;
  top: 0px;
  left: 0px;
  background: transparent;
  background: -webkit-linear-gradient(#ffffff, transparent);
  background: -moz-linear-gradient(#ffffff, transparent);
  background: -ms-linear-gradient(#ffffff, transparent);
  background: -o-linear-gradient(#ffffff, transparent);
}
div.tempo-website-wrapper div#tempo-page.tempo-page:after {
  content: '';
  position: absolute;
  height: 120px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: transparent;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}
@media ( max-width: 1199px ) {
  div.tempo-website-wrapper div#tempo-page.tempo-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  div.tempo-website-wrapper div#tempo-page.tempo-page:before {
    height: 100px;
  }
  div.tempo-website-wrapper div#tempo-page.tempo-page:after {
    height: 100px;
  }
}
@media ( max-width: 991px ) {
  div.tempo-website-wrapper div#tempo-page.tempo-page {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  div.tempo-website-wrapper div#tempo-page.tempo-page:before {
    height: 80px;
  }
  div.tempo-website-wrapper div#tempo-page.tempo-page:after {
    height: 80px;
  }
}
@media ( max-width: 767px ) {
  div.tempo-website-wrapper div#tempo-page.tempo-page {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  div.tempo-website-wrapper div#tempo-page.tempo-page:before {
    height: 60px;
  }
  div.tempo-website-wrapper div#tempo-page.tempo-page:after {
    height: 60px;
  }
}
@media ( max-width: 480px ) {
  div.tempo-website-wrapper div#tempo-page.tempo-page {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  div.tempo-website-wrapper div#tempo-page.tempo-page:before {
    height: 40px;
  }
  div.tempo-website-wrapper div#tempo-page.tempo-page:after {
    height: 40px;
  }
}
div.tempo-website-wrapper .tempo-content-layout.layout-left {
  float: right;
  padding-left: 0px;
  padding-right: 15px;
}
div.tempo-website-wrapper .tempo-content-layout.layout-right {
  float: left;
  padding-left: 15px;
  padding-right: 0px;
}
div.tempo-website-wrapper .tempo-content-layout.layout-left,
div.tempo-website-wrapper .tempo-content-layout.layout-right {
  width: 65.3125%;
}
@media (max-width: 1260px) {
  div.tempo-website-wrapper .tempo-content-layout.layout-left,
  div.tempo-website-wrapper .tempo-content-layout.layout-right {
    float: none;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  width: 30.8125%;
}
div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-left {
  float: left;
  padding-right: 3.75%;
}
@media (max-width: 1680px) {
  div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-left {
    padding-right: 0;
  }
}
div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-right {
  float: right;
  padding-left: 3.75%;
}
@media (max-width: 1680px) {
  div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout.layout-right {
    padding-left: 0;
  }
}
@media (max-width: 1260px) {
  div.tempo-website-wrapper div#tempo-page.tempo-page aside.tempo-sidebar-layout {
    display: none;
  }
}
:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
::selection {
  background: #373b43;
  color: #fff;
}
