hr.tempo-meta-delimiter {
  display: none;
}
div.sarmys-content h1.tempo-title {
  margin: 0 0 40px;
  color: #2d2f34;
  font-size: 46px;
  line-height: 68px;
}
@media (max-width: 920px) {
  div.sarmys-content h1.tempo-title {
    margin: 40px 0 35px;
    color: #2d2f34;
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 520px) {
  div.sarmys-content h1.tempo-title {
    margin: 30px 0;
    font-size: 30px;
    line-height: 44px;
  }
}
div.sarmys-content div.tempo-categories + h1.tempo-title {
  margin-top: 50px;
}
div.sarmys-content div.tempo-meta.top {
  padding-left: 3px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #b4bcca;
  text-transform: uppercase;
}
div.sarmys-content div.tempo-meta.top a {
  color: #b4bcca;
  font-weight: 300;
  margin: 0px;
}
div.sarmys-content div.tempo-meta.top a:hover {
  color: #7F8590;
}
div.sarmys-content div.tempo-meta.top ul {
  margin: 0px;
  padding: 0px;
  line-height: 16px;
}
@media (max-width: 920px) {
  div.sarmys-content div.tempo-meta.top ul {
    text-align: center;
  }
}
div.sarmys-content div.tempo-meta.top i {
  margin-left: 0px;
}
div.sarmys-content div.tempo-meta.top li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 16px;
}
div.sarmys-content div.tempo-meta.top li:after {
  content: '|';
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.6;
}
div.sarmys-content div.tempo-meta.top li:last-child:after {
  content: '';
  margin-right: 0px;
}
@media (max-width: 520px) {
  div.sarmys-content div.tempo-meta.top {
    display: none;
  }
}
div.sarmys-content div.tempo-hentry {
  margin-top: 0px;
}
div.sarmys-head {
  padding-bottom: 6.048183556405354%;
}
div.sarmys-head:after {
  display: block;
  clear: both;
  margin-top: 7.048183556405354%;
  width: 25%;
  height: 2px;
  background: #f6f8fc;
  content: '';
}
@media (max-width: 920px) {
  div.sarmys-head {
    text-align: center;
  }
  div.sarmys-head:after {
    margin-top: 7.048183556405354%;
    margin-left: auto;
    margin-right: auto;
  }
}
article.tempo-article.single div.tempo-categories.single {
  margin-bottom: 0px;
}
@media (max-width: 920px) {
  article.tempo-article.single div.tempo-categories.single {
    text-align: center;
  }
}
article.tempo-article.single div.tempo-meta.top {
  font-size: 13px;
}
article.tempo-article.single div.tempo-meta.bottom div.tempo-terms {
  text-align: initial;
  margin: 0px -4px;
  padding-top: -webkit-calc( 7.648183556405354% - 30px );
  padding-top: -moz-calc( 7.648183556405354% - 30px );
  padding-top: -ms-calc( 7.648183556405354% - 30px );
  padding-top: -o-calc( 7.648183556405354% - 30px );
  padding-top: calc( 7.648183556405354% - 30px );
  padding-bottom: 3.8240917782%;
}
article.tempo-article.single div.tempo-meta.bottom div.tempo-terms a {
  background-color: #f6f8fc;
  border: none;
  color: #8a99a7;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  padding: 15px 40px;
  text-transform: uppercase;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
article.tempo-article.single div.tempo-meta.bottom div.tempo-terms a:hover {
  background-color: #b3b7c7;
  color: #ffffff;
}
article.tempo-article.single div.tempo-author {
  border-top: 1px solid #eff0f6;
  border-bottom: none;
  margin: 0px;
  padding: 7.648183556% 0 0 0;
}
article.tempo-article.single div.tempo-author div.tempo-author-avatar {
  width: 70px;
  height: 70px;
  margin: 0px 30px 0px 0px;
}
article.tempo-article.single div.tempo-author div.tempo-author-avatar img {
  margin: 0px;
}
article.tempo-article.single div.tempo-author div.sarmys-author-name {
  margin-top: 8px;
}
article.tempo-article.single div.tempo-author div.sarmys-author-name span {
  color: #b9bec9;
  text-transform: uppercase;
  font-size: 14px;
}
article.tempo-article.single div.tempo-author div.sarmys-author-name h4 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
article.tempo-article.single div.tempo-author div.sarmys-author-name h4 a {
  color: #2d2f34;
  font-weight: normal;
}
article.tempo-article.single div.tempo-author div.sarmys-author-name h4 a:hover {
  color: #2d2f34;
}
