footer.tempo-footer {
  padding: 0px;
}
footer.tempo-footer .tempo-copyright {
  background-color: rgba(0, 0, 0, 0.85);
}
footer.tempo-footer .tempo-copyright p {
  color: #999999;
}
footer.tempo-footer .tempo-copyright a {
  color: #cdcdcd;
}
footer.tempo-footer .tempo-copyright a:hover {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1);
}
footer.tempo-footer .tempo-social {
  padding: 30px 0px;
  background-color: rgba(0, 0, 0, 0.9);
}
@media (max-width: 991px) {
  footer.tempo-footer .tempo-social {
    padding: 26px 0px;
  }
}
@media (max-width: 767px) {
  footer.tempo-footer .tempo-social {
    padding: 20px 0px;
  }
}
@media (max-width: 520px) {
  footer.tempo-footer .tempo-social {
    padding: 15px 0px;
  }
}
footer.tempo-footer .tempo-social a {
  border: none;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 3px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
@media (max-width: 991px) {
  footer.tempo-footer .tempo-social a {
    width: 34px;
    height: 34px;
    font-size: 18px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  footer.tempo-footer .tempo-social a {
    width: 26px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
  }
}
footer.tempo-footer .tempo-social a:hover {
  color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
footer.tempo-footer .tempo-social a:before {
  font-size: 20px;
  line-height: 40px;
}
@media (max-width: 991px) {
  footer.tempo-footer .tempo-social a:before {
    font-size: 18px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  footer.tempo-footer .tempo-social a:before {
    font-size: 16px;
    line-height: 26px;
  }
}
footer.tempo-footer .tempo-social a.tempo-icon-rss {
  background-color: #ff7600;
}
footer.tempo-footer .tempo-social a.tempo-icon-smashing {
  background-color: #ff462c;
}
footer.tempo-footer .tempo-social a.tempo-icon-flickr {
  background-color: #0062dd;
}
footer.tempo-footer .tempo-social a.tempo-icon-vimeo {
  background-color: #00beff;
}
footer.tempo-footer .tempo-social a.tempo-icon-vimeo-circled {
  background-color: #00beff;
}
footer.tempo-footer .tempo-social a.tempo-icon-twitter {
  background-color: #00b0ef;
}
footer.tempo-footer .tempo-social a.tempo-icon-facebook {
  background-color: #265999;
}
footer.tempo-footer .tempo-social a.tempo-icon-gplus {
  background-color: #f32e31;
}
footer.tempo-footer .tempo-social a.tempo-icon-google-circles {
  background-color: #f32e31;
}
footer.tempo-footer .tempo-social a.tempo-icon-pinterest {
  background-color: #ef0021;
}
footer.tempo-footer .tempo-social a.tempo-icon-tumblr {
  background-color: #174863;
}
footer.tempo-footer .tempo-social a.tempo-icon-linkedin {
  background-color: #0082b2;
}
footer.tempo-footer .tempo-social a.tempo-icon-dribbble {
  background-color: #ff2788;
}
footer.tempo-footer .tempo-social a.tempo-icon-stumbleupon {
  background-color: #ff2419;
}
footer.tempo-footer .tempo-social a.tempo-icon-lastfm {
  background-color: #fb0000;
}
footer.tempo-footer .tempo-social a.tempo-icon-github {
  background-color: #0084c5;
}
footer.tempo-footer .tempo-social a.tempo-icon-instagram {
  background-color: #00749c;
}
footer.tempo-footer .tempo-social a.tempo-icon-dropbox {
  background-color: #0083d1;
}
footer.tempo-footer .tempo-social a.tempo-icon-evernote {
  background-color: #7ac142;
}
footer.tempo-footer .tempo-social a.tempo-icon-flattr {
  background-color: #ff6f00;
}
footer.tempo-footer .tempo-social a.tempo-icon-odnoklassniki {
  background-color: #f58220;
}
footer.tempo-footer .tempo-social a.tempo-icon-skype {
  background-color: #00b3f2;
}
footer.tempo-footer .tempo-social a.tempo-icon-renren {
  background-color: #0d80e4;
}
footer.tempo-footer .tempo-social a.tempo-icon-picasa {
  background-color: #415e5f;
}
footer.tempo-footer .tempo-social a.tempo-icon-soundcloud {
  background-color: #ff4f00;
}
footer.tempo-footer .tempo-social a.tempo-icon-mixi {
  background-color: #d1ad5a;
}
footer.tempo-footer .tempo-social a.tempo-icon-behance {
  background-color: #0066ff;
}
footer.tempo-footer .tempo-social a.tempo-icon-google-circles {
  background-color: #f32e31;
}
footer.tempo-footer .tempo-social a.tempo-icon-youtube {
  background-color: #cd201f;
}
footer.tempo-footer .tempo-social a.tempo-icon-youtube-play {
  background-color: #cd201f;
}
footer.tempo-footer .tempo-social a.tempo-icon-vkontakte {
  background-color: #4E729A;
}
footer.tempo-footer .tempo-social a.tempo-icon-reddit {
  background-color: #cfe3f7;
}
footer.tempo-footer .tempo-social a.tempo-icon-rdio {
  background-color: #006ed4;
}
footer.tempo-footer .tempo-nav {
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding: 15px 0px;
}
footer.tempo-footer .tempo-nav nav ul li {
  text-transform: uppercase;
}
footer.tempo-footer .tempo-nav nav ul li:before {
  content: '/';
  color: rgba(255, 255, 255, 0.15);
  margin-left: 8px;
  margin-right: 8px;
}
footer.tempo-footer .tempo-nav nav ul li:first-child:before {
  content: '';
  margin-left: 0px;
  margin-right: 0px;
}
footer.tempo-footer .tempo-nav nav ul li a {
  font-weight: 300;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.45);
}
@media (max-width: 767px) {
  footer.tempo-footer .tempo-nav nav ul li a {
    font-size: 11px;
  }
}
footer.tempo-footer .tempo-nav nav ul li a:hover {
  border-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
}
